.contactBodySection{
    padding-top: 72px;
    padding-bottom: 72px;
}

.sidebarTitle{
    font-size: 34px;
    line-height: 36px;
    color: #111111;
}

@media (min-width: 992px){
  .secondarySectionPadding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
