.testimonialPadding{
    padding-top: 120px;
    padding-bottom: 60px;
}

.secondarySectionPadding {
    padding-top: 60px;
    padding-bottom: 60px;
}
.sectionHeadingPaddingbottom{
    /* padding-bottom: 72px; */
}

.singleTestimonialWrapContent{
    margin-bottom: 24px;
}

.singleTestimonialWrapContent p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.testimonialName{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 36px;
    color: #111111;
}

.tetimonialLocation{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #AAAAAA;
}

.roundedImage img{
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 rgba(137,137,137,0.14), 0 2px 1px -1px rgba(137,137,137,0.12), 0 1px 3px 0 rgba(137,137,137,0.20);
}



.starTestimonial{
    margin-bottom: 24px;
}

.testimonialSection{
  background-color: rgba(11,74,125,0.05);
}

@media(max-width: 1280px){
    .singleTestimonialWrapContent p{
        font-size: 16px;
        line-height: 26px;
    }
    .testimonialName{
        font-size: 32px;
        line-height: 34px;
    }

    .tetimonialLocation{
        font-size: 14px;
        line-height: 22px;
    }
}