.archivesBlockSection{
    margin-top: 72px;
    margin-bottom: 36px;
}
.singleImage{
    width: 100%;
}

.singleBlockTitle{
    font-size: 34px;
    line-height: 36px;
    color: #111111;
}

.singleBlockExcerpt p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #4F4F4F;
}

@media(max-width:1280px){
    .singleBlockTitle{
        font-size: 32px;
        line-height: 34px;
        color: #111111;
    }
    
    .singleBlockExcerpt p{
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (min-width: 992px) {
  .archivesBlockSection{
      margin-top: 120px;
      margin-bottom: 70px;
  }
}
