.OurMissonSection{
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #2098D4;
}

.ourmissionHeading{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.ourmissionContent{
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.18px;
    color: #FFFFFF;
}

@media(max-width: 1280px){
    .ourmissionHeading{
        font-size: 42px;
        line-height: 52px;
    }

    .ourmissionContent{
        font-size: 22px;
        line-height: 30px;
    }
}

@media (min-width: 992px){
  .OurMissonSection{
      padding-top: 120px;
      padding-bottom: 120px;

  }

  .ourmissionHeading{

      font-size: 48px;
      line-height: 56px;

  }

}
