.whoWeAreSection{
    padding-top: 72px;
    padding-bottom: 72px;
}
.singleImage {
    margin-bottom: 1.5rem;
}
.singleTitle{
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    letter-spacing: 0.18px;
    color: #111111;

}

.singleContent{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: 0.5px;
    color: #111111;
}


@media(max-width: 1280px){
    .singleContent{
        font-size: 16px;
        line-height: 26px;
    } 
    
    .singleTitle{
        font-size: 22px;
        line-height: 22px;
    }
}

@media (min-width: 992px){
  .whoWeAreSection{
      padding-top: 120px;
      padding-bottom: 120px;
  }
}
