.contactBodySection{
    padding-top: 72px;
    padding-bottom: 72px;
}

.sidebarTitle{
    font-size: 34px;
    line-height: 36px;
    color: #111111;
}

@media(max-width: 1280px){
    .sidebarTitle{
        font-size: 32px;
        line-height: 34px;
    }
}

@media screen and (min-width: 992px) {
  .contactBodySection{
      padding-top: 120px;
      padding-bottom: 120px;
  }

}
