

.counterPadding{
    padding-top: 72px;
    padding-bottom: 72px;
}
.sectionTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #111111;
    padding-bottom: 60px;
}

.heading5 {
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #0B4A7D;
    margin-bottom: 0;
}

.titleStyle{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #AAAAAA;
}


@media screen and (min-width: 768px) {
  .counterPadding {

      padding-bottom: 96px;
      padding-top: 96px;
  }

  .sectionTitle{

      font-size: 34px;
      line-height: 48px;
    
  }

}
