.getAQuoteContentWrapper{
    padding-bottom: 72px;
}

h3.getAQuoteTitle, .getAQuoteContent{
    color: #fff;
}
a.blueColor{
    background-color: #0B4A7D;
    color: #fff;
}



@media screen and (min-width: 992px) {
  .getAQuoteContentWrapper{
      padding-bottom: 120px;
  }
}

@media screen and (max-width: 576px) {
  .VideoImageWrapper{
    background-position: -370px top !important
  }
}

@media screen and (max-width: 480px) {
  .VideoImageWrapper{
    background-position: -520px top !important
  }
}

@media screen and (max-width: 375px) {
  .VideoImageWrapper{
    background-position: -690px top !important
  }
}
