


.OurAssociatesSlider{

    padding-bottom: 60px;
}
.sectionPadding{
    padding-top: 30px;
    padding-bottom: 30px;
}

.slick-slide img{
  display: inline-block;
}


@media screen and (min-width: 992px) {
  .sectionPadding {

    padding-top: 60px;
    padding-bottom: 60px;
  }
}
