

.secondarySectionPadding {
    padding-top: 60px;
    padding-bottom: 72px;
}


.sectionHeadingPaddingbottom{
    /* padding-bottom: 72px; */
}

.servicesSingleTitle{
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 36px;
    color: #111111;
    padding-bottom: 32px;
}

.singleServiceWrap{
    /* padding-bottom: 120px; */
}

.singleServiceWrap img{

  box-shadow: 0 16px 24px 2px rgba(137,137,137,0.14), 0 6px 30px 5px rgba(137,137,137,0.12), 0 8px 10px -5px rgba(137,137,137,0.20);
}

@media(max-width:1280px){
    .servicesSingleTitle{
        font-size: 32px;
        line-height: 32px;
    }
}

@media (min-width: 992px){
  .secondarySectionPadding {

      padding-bottom: 120px;
  }
}
