.VideoImageWrapper{
    position: relative;
}

.testimonialBackground{
    background-color: #f6f2e6;
}

.sectionPadding{
    padding-top: 72px;
    padding-bottom: 72px;
}


.backgroundTVImage{
    position: relative;
    background-image: url('/video-testimonial.jpg');
    background-repeat: no-repeat;
    background-color: #f6f2e6;
    /* padding: 100px 0; */
    /* padding-top: 46px; */
    padding-top: 7%;
    background-position: center -50px;
    background-size: cover;
}

.backgroundTVImage img{
    padding-bottom: 7% !important;
}
/* .backgroundTVImageTestimonialWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

.iframePadding{
  padding-left: 6.2%;
    padding-right: 3.3%;
}

.videoTestimonialContentWrapper{
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
}

.smallSubTitleBefore{
    position: relative;
    padding-left: 30px;
}

.smallSubTitleBefore::before{
    position: absolute;
    content: url('/live_tv.png');
    /* background: url('/live_tv.png') no-repeat left 0; */
    left: 0;
    top: -4px;
}

@media (max-width: 1280px){
    .iframePadding{
        padding-left: 7%;
    padding-right: 4.4%;
    }
    .backgroundTVImage{
        padding-top: 8.3%;
    }
    .backgroundTVImage img{
        padding-top: 8.3% !important;
    }
}


@media (max-width: 1105px){


    .iframePadding{
        padding-left: 5%;
    padding-right: 1.5%;
    }
    .backgroundTVImage{
        padding-top: 9%;
        background-size: contain;
        background-position: center top;
    }

    .backgroundTVImage img{
        padding-top: 9% !important;
    }
}

@media (max-width: 992px){
  .backgroundTVImage{
  background-size: cover;
  background-position: center;
  padding-bottom: 22%;
  }
  .iframePadding{
  padding-left: 13.1%;
padding-right: 7.5%;}

}

@media screen and (min-width: 992px) {


  .sectionPadding {

    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (max-width: 576px){
    .iframePadding{
      padding-left: 13%;
 padding-right: 7.6%;
    }
    .backgroundTVImage{
    padding-top: 10%;
}
}

@media (max-width: 480px){

    .homePageHeroBanner{
        overflow: hidden;
    }

}
