.getaQuoteTitle{
    font-weight: 600;
    font-size: 34px;
    line-height: 48px;
    color: #111111;
}

a.GetaQuoteSection_blueColor{
    background-color: #0B4A7D;
    color: #fff;
}

.label{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.18px;
    color: #000000;
}
.checkboxFont{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
}
/* .step2{
    display: none;
} */

@media(max-width:1280px){
    .getaQuoteTitle{
        font-size: 32px;
        line-height: 46px;
    }

    .label{
        font-size: 22px;
        line-height: 30px;
    }

    .checkboxFont{
        font-size: 16px;
        line-height: 26px;
    }
}