.servicesWhyWorkWithUsSection {
    padding-top: 72px;
    padding-bottom: 48px;
}
.sectionHeadingPaddingbottom{
    padding-bottom: 72px;
}

.servicesSingleTitle{
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 36px;
    color: #111111;
}

.singleServiceWrap{
    padding-bottom: 80px;
}

@media(min-width: 992px){
    .servicesWhyWorkWithUsSection {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}