.servicesFeaturesSection{
    padding-bottom: 72px;
}

.featuresListWrap{
    position: relative;
}
.featuresListWrap:before{
    content: url(/list-check.png);
    position: absolute;
    left: 10px;
    top: 3px;
}

@media(min-width: 992px){
    .servicesFeaturesSection{
        padding-bottom: 120px;
    } 
}