.ServicesHowItWorksSection1{
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: rgba(11, 74, 125, 0.05);
}

.countSet {
    counter-reset: css-counter 0; /* initializes counter to 0; use -1 for zero-based numbering */
    position: relative;
}

.countSet:before{

    position: absolute;
    left: 0;
    height: calc(100% - 100px);
    right: 0;
    margin: auto;
    width: 2px;
    border-left: 2px dashed #EA8808;
    top: 50px;
}

.countNumber {
    counter-increment: css-counter 1; /* Increase the counter by 1. */
}

/* .countSet :last-child:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    top: 3rem;
    left: -2px;
    border-left: 2px dashed red;
} */

.countSet .dottedBerticalBorder:first-child:after{
    /* position: absolute; */
    content: "";
    /* height: 100%;
    width: 2px;
    top: 3rem;
    right: -2px;
    border-left: 2px dashed #EA8808; */
}

.dottedBerticalBorder:after{
    position: absolute;
    content: "";
    /* height: 36%; */
    height: 50%;
    width: 2px;
    bottom: 3.2rem;
    right: -2px;
    border-right: 2px dashed #EA8808;
    z-index: 0;
}

.oddNumber{
    position: relative;
}

.oddNumber:before{

    position: absolute;
    right: -12px;
    top: 1.5rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EA8808;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* .oddNumberHorizontalLine{
    position: relative;
} */

.oddNumberHorizontalLine:before{

    /* background-color: #EA8808; */
    width: 2.4rem;
    height: 2px;
    position: absolute;
    right: 11px;
    top: 2.2rem;
    border-top: 2px dashed #EA8808;
}

/* .evenNumberHorizontalLine{
    position: relative;
} */

.evenNumberHorizontalLine:after {

    /* background-color: #EA8808; */
    width: 2.4rem;
    height: 2px;
    position: absolute;
    left: 11px;
    bottom: 2.5rem;
    border-top: 2px dashed #EA8808;
}

.evenNumber{
    position: relative;
}

.evenNumber:after{

    position: absolute;
    left: -12px;
    bottom: 1.8rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EA8808;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.singleBlockContent{
    background-color: #ffffff;
}

.singleBlockContent p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #111111;
    margin-bottom: 0;
}

.singleBlockContent p strong {
    margin-bottom: 16px;
}



@media(min-width: 992px){
    .ServicesHowItWorksSection1{
        padding-top: 120px;
        padding-bottom: 120px;
    }


}

@media(min-width: 768px){

  .countSet:before{
      content: "";}
      
  .oddNumber:before{
      content: counter(css-counter);}

  .oddNumberHorizontalLine:before{
      content: "";
    }

  .evenNumberHorizontalLine:after {
      content: "";
    }
  .evenNumber:after{
      content: counter(css-counter);
  }
}
